.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log
node_modules
client/bower_components
client/bundle.js
client/build/bundle.js
client/assets/uploads/
server/config/githubAPIConfig.js
sessions
dump.rdb

# Floobits
.floo
.floobit
.floo
.flooignore
