body {
  background: #eee;
  font-size: 16px;
}
textarea.form-control {
  height:120px;
  font-size: 16px;
}
.navbar-default {
  background-color: #fff;
}
#main {
    margin-top: 70px;
}

.page-login {
  background:#f5f5f5;
}
#loginFormWrapper {
  margin: 100px auto 0 auto;
  max-width:700px;
}
#loginFormWrapper h1 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}
#loginForm {
    max-width: 350px;
    padding: 15px 35px 35px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
#loginForm h1 {
  margin-bottom: 15px;
}
#loginForm h2 {
  margin-bottom: 20px
}

#loginForm .login-name {
  margin-bottom: 10px;
}

#loginForm .login-password {
  margin-bottom: 20px;
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}






.navbar-toggle .in .dropdown-menu {
  display: block;
}
.navbar-toggle .in a {
  outline: 0;

};

.search-for-users .form-group{
  max-width: 300px;
}
.input-with-dropdown  .input-group-addon {
  padding: 0;
}
.input-with-dropdown .btn {
  border: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #f5f5f5;
}


.navbar .dropdown-header {
  display: inherit;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  white-space: inherit;
}
.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;

}

.navbar-text {
    float: left;
    margin-right: 0;
    margin-left: 0;
}
.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-text a {
    float: left;
    padding: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}
.navbar-default .navbar-text a {
  color: #777;
}
.navbar-inverse .navbar-nav>li>a {
    color: #777;
}
.navbar-inverse .navbar-text a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-text a:hover,
.navbar-inverse .navbar-text a:focus {
  color:#fff;
  background-color:transparent;
  text-decoration:none;
}



.user-card,
.section {
  background:#fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  margin-bottom: 14px;

}

.section {
  padding:20px;
}

/* Grid of users */
.user-card img {
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}

.user-card:hover h4 {
  background:#fafafa;
  text-decoration: inherit;
}
.user-card h4 {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  border-radius:  0 0 3px 3px;
  -moz-border-radius:  0 0 3px 3px;
  -webkit-border-radius:  0 0 3px 3px;
}

.profile-main .row {
  margin:0;
}

.profile-main h2 {
  margin-top: 0;
}

.profile-main .btn-toolbar {
  float: right;
}

.profile-bio .btn-toolbar .btn {
  width:48%
}

.profile-bio .btn-default {
  float:right;
}




.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
}
