body {
  background: #eee;
  font-size: 16px;
}
textarea.form-control {
  height:120px;
  font-size: 16px;
  margin-bottom: 20px
}
.navbar-default {
  background-color: #fff;
}
#main {
  margin-top: 80px;
}

.page-login {
  background:#f5f5f5;
}
#loginFormWrapper {
  margin: 100px auto 0 auto;
  max-width:700px;
}
#loginFormWrapper h1 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}
#loginForm {
    max-width: 380px;
    padding: 50px 35px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.07);
  }
#loginForm h1 {
  margin-bottom: 15px;
}
#loginForm h3 {
  font-weight: normal;
  margin-bottom: 40px;
  color: #999;
}

#loginForm .image {
  width:240px;
}
#loginForm .form-group {
  margin-bottom: 0;
}
#loginForm .login-name {
  margin-bottom: 10px;
}

#loginForm .login-password {
  margin-bottom: 20px;
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

.navbar-toggle .in .dropdown-menu {
  display: block;
}
.navbar-toggle .in a {
  outline: 0;

};

.search-for-users .form-group{
  max-width: 300px;
}
.input-with-dropdown  .input-group-addon {
  padding: 0;
}
.input-with-dropdown .btn {
  border: 0;
  background: #f5f5f5;
}


.navbar .dropdown-header {
  display: inherit;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  white-space: inherit;
}
.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

.navbar-brand {
    height:65px;
  }
.navbar-brand>img {
    height:38px;
}

.navbar-text {
    float: left;
    margin-right: 0;
    margin-left: 0;
}
.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-text a {
    float: left;
    padding: 15px;
}
.navbar-default .navbar-right {
  margin-top: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}
.navbar-default .navbar-text a {
  color: #777;
}
.navbar-inverse .navbar-nav>li>a {
    color: #777;
}
.navbar-inverse .navbar-text a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-text a:hover,
.navbar-inverse .navbar-text a:focus {
  color:#fff;
  background-color:transparent;
  text-decoration:none;
}



.user-card,
.section {
  background:#fff;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.07);
  margin-bottom: 14px;
}

.section {
  padding:20px;
}
.img-responsive {
  width:100%;
}
/* Grid of users */
.user-card img {
  border-radius: 3px 3px 0 0;
}

.user-card:hover h4 {
  background:#fafafa;
  text-decoration: inherit;
}
.user-card h4 {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  border-radius:  0 0 3px 3px;
  -moz-border-radius:  0 0 3px 3px;
  -webkit-border-radius:  0 0 3px 3px;
}

.profile-main .row {
  margin:0;
}

.profile-main h2,
.profile-main h3 {
  margin: 5px 0 0 0;
}

.profile-main .btn-toolbar {
  margin-top: 5px;
  float: right;
}
.profile-main h2 {
  color: #222;
}
.profile-main h3 {
  font-weight:normal;
  font-size: 22px;

}
.profile-main {
  color: #555;
}
.profile-main ul {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}

.profile-bio .btn-toolbar .btn {
  width:48%
}

.profile-bio .btn-default {
  float:right;
}

.change-image-button {
  padding:0;
  border:0;
  position: relative;
  box-shadow: 0px 0px 4px #888;
  border:1px solid #fff;
}

.change-image-button .label-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.73);
  width: 100%;
  overflow: hidden;
  bottom: 0;
  padding: 10px;
  color: #fff;
  font-size:16px;
}

.change-image-button:hover .label-overlay {
  background: rgba(43, 48, 52, 0.75);
}

.float-right {
  float:right;
}
.float-left {
  float:left;
}


/* Sidebar Styles */

.sidebar-users {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-users li {
  padding-left: 10px;
}

.sidebar-users li a {
  display: block;
  padding: 4px 0px 4px 6px;
  text-decoration: none;
  color: #999999;
}

.sidebar-users li a:hover,
.sidebar-users li a.active  {
  text-decoration: none;
  color: #333;
  background: rgba(255,255,255,0.6);
}

.sidebar-users li a:active,
.sidebar-users li a:focus {
  text-decoration: none;
}

.sidebar-users > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-users > .sidebar-brand h4 {
  color: #aaa;
}

.sidebar-users > .sidebar-brand a {
  color: #999999;
}

.sidebar-users > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(max-width:768px) {
  .sidebar-users li a {
    width:33%;
    float:left
  }
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
}



/*
  Components
*/
/* keep react-select menu on top */
.Select
.Select-menu-outer {
  z-index: 10;
}

.profile-groups {
  margin-top: 10px;
}

.dropzone {
  margin: 15px 0px;
  width: 100%;
  height: 100%;
  border: 2px dashed #666;
  text-align: center;
  padding:50px;
  color:#777;
  font-size: 18px;
  cursor: pointer;
}

.dropzone-active {
  border-style: solid;
  background-color: #eee;
}
/*
rejectStyle = {
  borderStyle: 'solid',
  backgroundColor: '#ffdddd'
};*/

.input-group {
  margin-bottom: 15px;
  width: 100%;
}

.delete-user {
  color: #D81D1D;
  padding:0;
  text-align: right;
}

.checkbox {
  margin:0;
}





/* TEMPORARY UNTIL I CAN FIGURE OUT SCSS!!*/



/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/

.Select,.Select-control{position:relative}.Select-arrow-zone,.Select-clear-zone,.Select-loading-zone{text-align:center;cursor:pointer}.Select,.Select div,.Select input,.Select span{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.Select.is-disabled>.Select-control{background-color:#f9f9f9}.Select.is-disabled>.Select-control:hover{box-shadow:none}.Select.is-disabled .Select-arrow-zone{cursor:default;pointer-events:none}.Select-control{background-color:#fff;border-radius:4px;border:1px solid #ccc;color:#333;cursor:default;display:table;height:36px;outline:0;overflow:hidden;width:100%}.is-searchable.is-focused:not(.is-open)>.Select-control,.is-searchable.is-open>.Select-control{cursor:text}.Select-control:hover{box-shadow:0 1px 0 rgba(0,0,0,.06)}.is-open>.Select-control{border-bottom-right-radius:0;border-bottom-left-radius:0;background:#fff;border-color:#b3b3b3 #ccc #d9d9d9}.is-open>.Select-control>.Select-arrow{border-color:transparent transparent #999;border-width:0 5px 5px}.is-focused:not(.is-open)>.Select-control{border-color:#007eff;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgba(0,126,255,.1)}.Select--single>.Select-control .Select-value,.Select-placeholder{bottom:0;color:#aaa;left:0;line-height:34px;padding-left:10px;padding-right:10px;position:absolute;right:0;top:0;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.has-value.Select--single>.Select-control>.Select-value .Select-value-label,.has-value.is-pseudo-focused.Select--single>.Select-control>.Select-value .Select-value-label{color:#333}.has-value.Select--single>.Select-control>.Select-value a.Select-value-label,.has-value.is-pseudo-focused.Select--single>.Select-control>.Select-value a.Select-value-label{cursor:pointer;text-decoration:none}.has-value.Select--single>.Select-control>.Select-value a.Select-value-label:focus,.has-value.Select--single>.Select-control>.Select-value a.Select-value-label:hover,.has-value.is-pseudo-focused.Select--single>.Select-control>.Select-value a.Select-value-label:focus,.has-value.is-pseudo-focused.Select--single>.Select-control>.Select-value a.Select-value-label:hover{color:#007eff;outline:0;text-decoration:underline}.Select-input{height:34px;padding-left:10px;padding-right:10px;vertical-align:middle}.Select-input>input{width:100%;background:none;border:0;box-shadow:none;cursor:default;display:inline-block;font-family:inherit;font-size:inherit;margin:0;outline:0;line-height:14px;padding:8px 0 12px;-webkit-appearance:none}.Select-loading,.Select-loading-zone{width:16px;position:relative;vertical-align:middle}.is-focused .Select-input>input{cursor:text}.has-value.is-pseudo-focused .Select-input{opacity:0}.Select-control:not(.is-searchable)>.Select-input{outline:0}.Select-loading-zone{display:table-cell}.Select-loading{-webkit-animation:Select-animation-spin .4s infinite linear;-o-animation:Select-animation-spin .4s infinite linear;animation:Select-animation-spin .4s infinite linear;height:16px;box-sizing:border-box;border-radius:50%;border:2px solid #ccc;border-right-color:#333;display:inline-block}.Select-clear-zone{-webkit-animation:Select-animation-fadeIn .2s;-o-animation:Select-animation-fadeIn .2s;animation:Select-animation-fadeIn .2s;color:#999;display:table-cell;position:relative;vertical-align:middle;width:17px}.Select-clear-zone:hover{color:#D0021B}.Select-clear{display:inline-block;font-size:18px;line-height:1}.Select--multi .Select-clear-zone{width:17px}.Select-arrow-zone{display:table-cell;position:relative;vertical-align:middle;width:25px;padding-right:5px}.Select-arrow{border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 2.5px;display:inline-block;height:0;width:0}.Select-noresults,.Select-option{box-sizing:border-box;display:block;padding:8px 10px}.Select-arrow-zone:hover>.Select-arrow,.is-open .Select-arrow{border-top-color:#666}@-webkit-keyframes Select-animation-fadeIn{from{opacity:0}to{opacity:1}}@keyframes Select-animation-fadeIn{from{opacity:0}to{opacity:1}}.Select-menu-outer{border-bottom-right-radius:4px;border-bottom-left-radius:4px;background-color:#fff;border:1px solid #ccc;border-top-color:#e6e6e6;box-shadow:0 1px 0 rgba(0,0,0,.06);box-sizing:border-box;margin-top:-1px;max-height:200px;position:absolute;top:100%;width:100%;z-index:1;-webkit-overflow-scrolling:touch}.Select-menu{max-height:198px;overflow-y:auto}.Select-option{background-color:#fff;color:#666;cursor:pointer}.Select-option:last-child{border-bottom-right-radius:4px;border-bottom-left-radius:4px}.Select-option.is-selected{background-color:#f5faff;background-color:rgba(0,126,255,.04);color:#333}.Select-option.is-focused{background-color:#ebf5ff;background-color:rgba(0,126,255,.08);color:#333}.Select-option.is-disabled{color:#ccc;cursor:default}.Select-noresults{color:#999;cursor:default}.Select--multi .Select-input{vertical-align:middle;margin-left:10px;padding:0}.Select--multi.has-value .Select-input{margin-left:5px}.Select--multi .Select-value{background-color:#ebf5ff;background-color:rgba(0,126,255,.08);border-radius:2px;border:1px solid rgba(0,126,255,.24);color:#007eff;display:inline-block;font-size:.9em;line-height:1.4;margin-left:5px;margin-top:5px;vertical-align:top}.Select--multi .Select-value-icon,.Select--multi .Select-value-label{display:inline-block;vertical-align:middle}.Select--multi .Select-value-label{border-bottom-right-radius:2px;border-top-right-radius:2px;cursor:default;padding:2px 5px}.Select--multi a.Select-value-label{color:#007eff;cursor:pointer;text-decoration:none}.Select--multi a.Select-value-label:hover{text-decoration:underline}.Select--multi .Select-value-icon{cursor:pointer;border-bottom-left-radius:2px;border-top-left-radius:2px;border-right:1px solid #c2e0ff;border-right:1px solid rgba(0,126,255,.24);padding:1px 5px 3px}.Select--multi .Select-value-icon:focus,.Select--multi .Select-value-icon:hover{background-color:#d8eafd;background-color:rgba(0,113,230,.08);color:#0071e6}.Select--multi .Select-value-icon:active{background-color:#c2e0ff;background-color:rgba(0,126,255,.24)}.Select--multi.is-disabled .Select-value{background-color:#fcfcfc;border:1px solid #e3e3e3;color:#333}.Select--multi.is-disabled .Select-value-icon{cursor:not-allowed;border-right:1px solid #e3e3e3}.Select--multi.is-disabled .Select-value-icon:active,.Select--multi.is-disabled .Select-value-icon:focus,.Select--multi.is-disabled .Select-value-icon:hover{background-color:#fcfcfc}@keyframes Select-animation-spin{to{transform:rotate(1turn)}}@-webkit-keyframes Select-animation-spin{to{-webkit-transform:rotate(1turn)}}
